.lan-select {
    width: 120px;
    height: 40px;
    position: relative;
    background: rgba(3, 27, 27, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.95);
}


.lan-select__dropDown {
    width: 120px;
    position: absolute;
    top: 45px;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    


}

.lan-select__dropDown div {
    border-radius: 8px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.92);

}

.lan-select__dropDown div:hover {
    background: rgba(0, 255, 150, 0.15);
    color: rgba(255, 255, 255, 1);

}

.lan-select__dropDown div:active {
    background: rgba(0, 255, 150, 0.1);

}